<h1>Add a New Dog</h1><br>
<form action='/dogs/add' method="POST">
    <label for="name">Enter Dog's Name: </label>
    <input type="text" name="name" placeholder="Enter Name" /><br><br>

    <label for="description">Enter Dog's Description: </label>
    <input type="text" name="description" placeholder="Enter Description" /><br><br>

    <label for="imgUrl">Enter a URL for the Dog's Image: </label>
    <input type="text" name="imgUrl" placeholder="Enter Url" /><br><br>

    <button type="submit">Add Dog</button>
</form><br>

<div class="detail">
        <a href="/dogs">
            <button type="submit">Back</button>
        </a>
</div>